<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

<mat-form-field>
		<mat-label>Nome do cliente</mat-label>
		<input matInput placeholder="Nome do cliente"
      [(ngModel)]="cliente.nome" name="cliente" required>
  </mat-form-field>
  
 <mat-form-field>
		<mat-label>Cpf do cliente</mat-label>
		<input matInput placeholder="000.000.000-00"
      [(ngModel)]="cliente.cpf" name="cpf" required>
  </mat-form-field>

 <mat-form-field>
		<mat-label>Rg do cliente</mat-label>
		<input matInput placeholder="01/01/2000"
      [(ngModel)]="cliente.rg" name="00-000-000.0" required>
  </mat-form-field>

 <mat-form-field>
		<mat-label>Telefone do cliente</mat-label>
		<input matInput placeholder="(00) 9 9999-0000"
      [(ngModel)]="cliente.telefone" name="telefone" required>
  </mat-form-field>

<mat-form-field>
		<mat-label>Endereco do cliente</mat-label>
		<input matInput placeholder="rua dos maneiros 2989"
      [(ngModel)]="cliente.endereco" name="endereco" required > 
  </mat-form-field>

<mat-form-field>
		<mat-label>Email do cliente</mat-label>
		<input matInput placeholder="email@Gmail.com"
      [(ngModel)]="cliente.email" name="email" required > 
  </mat-form-field>

  <mat-form-field>
		<mat-label>Nascimento do cliente</mat-label>
		<input matInput placeholder="00/00/2000"
      [(ngModel)]="cliente.nascimento" name="nascimento" required > 
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>

