<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

<mat-form-field>
		<mat-label>Nome do cliente</mat-label>
		<input matInput placeholder="Nome do cliente"
      [(ngModel)]="reserva.cliente" name="cliente" required>
  </mat-form-field>
  
 <mat-form-field>
		<mat-label>Quantidade de hospedes</mat-label>
		<input matInput placeholder="00"
      [(ngModel)]="reserva.hospedes" name="hospedes" required>
  </mat-form-field>

 <mat-form-field>
		<mat-label>Data do check-in</mat-label>
		<input matInput placeholder="01/01/2000"
      [(ngModel)]="reserva.datacheckin" name="datacheckin" required>
  </mat-form-field>

 <mat-form-field>
		<mat-label>Data do check-out</mat-label>
		<input matInput placeholder="02/01/2000"
      [(ngModel)]="reserva.datacheckout" name="datacheckout" required>
  </mat-form-field>

<mat-form-field>
    <mat-label>Funcionario</mat-label>
    <mat-select [(ngModel)]="reserva.funcionario" name="funcionario" required>
      <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario._id">
        {{ funcionario.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
